@CHARSET "UTF-8";

#form-container{
	padding:1.5rem 0;
}

form h2 {
	margin-top: 16px;
}

form > div {
	width:172px;
	margin:4px 0;
	margin-right:16px;
	display:inline-block;
}

form input {
	width:100%;
}

form button {
	display:block;
	width:86px;
	margin-top:16px;
}